APP_NAME = "{{ gitea_app_name }}"
{% if gitea_run_mode is defined %}
RUN_MODE = "{{ gitea_run_mode }}"
{% endif%}
RUN_USER = "{{ gitea_user }}"

[repository]
ROOT = {{ gitea_repo_dir}}

[repository.upload]
TEMP_PATH = {{ gitea_temp_dir }}

[server]
APP_DATA_PATH = {{ gitea_server_app_data_path }}
SSH_DOMAIN = {{ gitea_server_ssh_domain }}
HTTP_PORT = {{ gitea_server_http_port }}
ROOT_URL = {{ gitea_server_root_url }}
DISABLE_SSH = {{ gitea_server_disable_ssh }}
SSH_PORT = {{ gitea_server_ssh_port }}
DOMAIN = {{ gitea_server_domain }}
START_SSH_SERVER = {{ gitea_server_start_ssh_server }}
LFS_START_SERTVER = {{ gitea_server_lfs_start_server }}
LFS_CONTENT_PATH = {{ gitea_server_lfs_content_path }}
LFS_JWT_SECRET =  {{ gitea_server_lfs_jwt_secret }}
OFFLINE_MODE = {{ gitea_server_offline_mode }}

[database]
{% if gitea_database_type == 'mysql' or gitea_database_type == 'postgres' %}
DB_TYPE   = {{ gitea_database_type }}
{% if gitea_database_port is defined %}
HOST   = {{ gitea_database_host }}:{{ gitea_database_port }}
{% elif gitea_database_type == 'postgres' %}
HOST =  {{ gitea_database_host }}:5432
{% else %}
HOST =  {{ gitea_database_host }}:3306
{% endif %}
PASSWD = {{ gitea_database_pass }}
USER   = {{ gitea_database_user }}
NAME   = {{ gitea_database_name }}
{% if gitea_database_type == 'postgres' -%}
SSL_MODE = {{ gitea_database_ssl_mode }}
{% endif -%}
{% else %}
DB_TYPE = sqlite3
PATH = {{ gitea_database_path }}
{% endif %}

[session]
{% if gitea_session_provider == 'redis' %}
PROVIDER_CONFIG = network=tcp,addr={{ gitea_session_redis_host }}:{{ gitea_session_redis_port }},db=0,pool_size=100,idle_timeout=180
PROVIDER        = {{ gitea_session_provider }}
{% else %}
PROVIDER        = {{ gitea_session_provider }}
{% endif %}

[cache]
{% if gitea_cache_adapter == 'redis' %}
ADAPTER = redis
HOST = network=tcp,addr={{ gitea_cache_redis_host}}:{{ gitea_cache_redis_port }},db=1,pool_size=100,idle_timeout=180
{% else %}
ADAPTER = memory
{% endif %}

[log]
ROOT_PATH = {{ gitea_log_root_path }}
MODE = {{ gitea_log_mode }}
LEVEL = {{ gitea_log_level }}

[security]
INSTALL_LOCK = {{ gitea_security_install_lock }}
SECURITY_KEY = {{ gitea_security_secret_key }}
INTERNAL_TOKEN = {{ gitea_security_internal_token }}

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = {{ gitea_service_disable_registration }}
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply@{{ ansible_domain }}


[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = false

[openid]
ENABLE_OPENID_SIGNIN = {{ gitea_openid_enable_openid_signin }}
ENABLE_OPENID_SIGNUP = {{ gitea_openid_enable_openid_signup }}
